<!DOCTYPE html>
<head>
  <meta charset="utf-8">

  <title>Link Alert</title>
  <meta name="description" content="">

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700'>
  <link rel="stylesheet" href="/stylesheet.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" type="text/javascript"></script>
  <script src="linkalert.js" type="text/javascript"></script>
</head>

<body>


  <div id="content">

    <h2>Which sites do you want alerts for?</h2>

    <ul id="profiles">
    <% @account.available_profiles.each do |profile| %>
      <li>
        <input type="checkbox" id="profile_<%= profile[:id] %>" data-name="<%= profile[:name] %>"<% if @account.profile_active?(profile[:id]) %> checked="checked"<% end %>>
        <label for="profile_<%= profile[:id] %>">
          <%= profile[:name] %> <span class="domain">(<%= profile[:url] %>)</span>
        </label>
      </li>
    <% end %>
    </ul>


    <h2>Where should we send them?</h2>

    <p class="help">Enter email addresses below, one per line.</p>

    <textarea id="emails" rows="6" cols="35" spellcheck="false"><%= @account.emails.join("\n") %></textarea>

    <p><a href="#" id="save" class="button green">Save Preferences</a></p>

  </div>


</body>
</html>
